.fullWidthAd {
  position: relative;
  left: 50%;
  right: 50%;
  width: 100vw;
  max-width: none;
  margin: 0;
  margin-left: -50vw;
  margin-right: -50vw;
  margin-bottom: 1rem;
  padding: 0;
  box-sizing: border-box;
}

.inner {
  width: 100%;
  padding: 0;
  box-sizing: border-box;
}

.inner :global(.adsbygoogle) {
  display: block;
  width: 100%;
  margin: 0;
  height: 90px;
  max-height: 100px;
}

@media (max-width: 768px) {
  .inner :global(.adsbygoogle) {
    height: 100px;
  }
}

.spaced {
  margin-top: 1rem;
}

.tightTop {
  margin-top: 0.5rem;
}

.looseBottom {
  margin-top: 1.5rem;
}

.sidebarAd {
  width: 100%;
  max-width: 320px;
  margin-bottom: 1.5rem;
}

.sidebarAd :global(.adsbygoogle) {
  display: block;
  width: 100%;
  min-height: 250px;
  max-height: 600px;
}
